{% extends 'base.html' %}

{% block content %}
<div class= "container">
<div class="container my-3">
    <table class="table table-hover">
        <thead>
        <tr class="thead-dark">
            <th>순위</th>
            <th>제목</th>
            <th>평점</th>
            <th>장르</th>
            <th>이미지</th>
        </tr>
        </thead>
       <tbody>
       {% for mov in ranklist %}
            <tr>
                <td> {{ loop.index }}</td>
                <td> {{ mov.title }}</td>
                <td> {{ mov.star }}</td>
                <td> {{ mov.genre }}</td>
                <td> <img src="{{mov.img}}"></img> </td>
            </tr>
       {% endfor %}
       </tbody>
    </table>
</div>

{% endblock %}