{% extends 'base.html' %}

{% block content %}
<div class= "container">
             " 검색할 영화의 이름을 입력해주세요. "
    <form method="post" class="post-form my-3">
        {% for field,errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong> {{ form[field].label }}</strong>: {{',' .join(errors)}}
        </div>
        {% endfor %}

        {{form.csrf_token}}
        {{ form.search.label}}
        {{form.search(class="form-control") }}
        <button type="submit" class="my-3 btn btn-primary">검색하기</button>
    </form>
</div>

<!--검색어가 입력되었을 경우 다음의 테이블을 보이게 하기.-->
{% if movie_list %}
<div class="container my-3">
    <table class="table table-hover">
        <thead>
        <tr class="thead-dark">
            <th style="width: 5%" >번호</th>
            <th style="width: 25%">제목</th>
            <th style="width: 5%">평점</th>
            <th style="width: 15%">감독</th>
            <th style="width: 15%">출연진</th>
            <th style="width: 10%">연도</th>
            <th style="width: 25%">이미지</th>

        </tr>
        </thead>
       <tbody>
       {% for mov in movie_list %}
            <tr>
                <td> {{ loop.index }}</td>
                <td> {{ mov.title|safe }}</td>
                <td> {{ mov.userRating }}</td>
                <td> {{ mov.director }}</td>
                <td> {{ mov.actor }}</td>
                <td> {{ mov.pubDate }}</td>
                <td> <img src="{{mov.image}}" height="100" width="100"></img> </td>
            </tr>
       {% endfor %}
       </tbody>
    </table>
</div>
{% endif %}

{% endblock %}